@charset "UTF-8";


@font-face {
    font-family: fonte-main;
    src: url(font/Yq6I-LyHWTfz9rGoqDaUbHvhkAUsSUQFy9CY94XsnPc.ttf);
}

@font-face {
    font-family: "fonte";
    src: url(font/Caprasimo-Regular.ttf);
}

@font-face {
    font-family: "SoDo Sans SemiBold";
    src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot");
    src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.svg#SoDo Sans SemiBold")format("svg");
}
@font-face {
    font-family: fonte-dnv;
    src: url(font/Ginevra\ Demo.ttf);
}
body{
    margin: 0;
}


.navbar-left{
    transform: translate(77px, -57px);
    width: 500px;
}

.link{
    padding: 10px;
    border: 1px black;
    border-radius: 17px;
    font-family: SoDo Sans SemiBold;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.link:hover{
    transition: 0.5s;
    color: white;
    background-color: rgb(0, 0, 0);
}

.img-logo{
    width: 40px;
    height: auto;
    padding: 17px;
    
}
header{
    box-shadow: 1px 4px 9px rgb(0 0 0 / 52%);
    height: 95px;
}

.titulo{
    font-size: 50px;
    font-family: fonte;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}


.navbar-right{
        position: absolute;
        transform: translate(1115px, -69px);
        font-family: "SoDo Sans SemiBold";
        text-transform: uppercase;
        color: black;
}


.link1{
        font-weight: bolder;
        color: black;
        font-size: 15px;
        text-decoration: none;
        margin: 0px 10px;
        border: black 1px solid;
        border-radius: 17px;
        padding: 9px 10px;
}
.link1:hover{
    transition: 0.7s;
    font-size: 13px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.466);
}
.link1:not(:hover){
    transition: 0.7s;
    font-size: 15px;
}
h1{
    font-family: 'fonte-dnv';
}
p{
    margin: auto;
    font-family: 'fonte-main';
    width: 400px;
}
.part1{
    text-align:center;
}
section.imgs{
    padding-left: 180px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: auto;
}
.senna-img{
    width: 500px;
    height: auto;
}
.hamilton-img{
    width: 496px;
    height: auto;
}

.mais{
    margin-top: 15px;
    margin-left: 624px;
    padding: 10px;
    border-radius: 12px;
    font-family: SoDo Sans SemiBold;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
}
.mais:hover{
    transition: 0.7s;
    font-size: 13px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.466);
}
.mais:not(:hover){
    transition: 0.7s;
    font-size: 15px;
}
